@import "/src/colors.scss";

:host {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    align-items: center;

    &:not(:last-child) {
        border-bottom: 1px solid $separatorColor;
    }
}

img {
    max-height: 64px;
}

.title {
    font-size: 1.1rem;
    flex: 1;
    user-select: none;
}

button {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $separatorColor;
    border: none;
    border-radius: 4px;
    margin: 1rem;
    cursor: pointer;

    &:hover {
        background-color: lighten($separatorColor, 15%);
    }
}