@import "/src/colors.scss";

:host {
    display: flex;
    align-items: center;

    opacity: 0.5;
}

svg {
    padding-left: 0.5rem;
    & > path {
        fill: $textColor;
    }
}

input {
    background-color: transparent;
    border: 0;
    color: $textColor;
    width: 100%;
    padding: 0.25rem 0;
}